<!-- <h1>WELCOME to our contact page</h1> -->
<!-- <div class="row">
    <div class="col-sm-12">
    <div class="customAlert alert" style="background-color: white;padding: 30px 40px 40px 40px">
    <div class="row">
    <div class="col-sm-12" style="text-align: justify;">
    <h3>Contact US</h3>
    <hr>
    <p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
    normal"><b><p>shampratikdeshkal.com</p></b><b>&nbsp;</p></b></p><p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
    normal"><span style="font-size: 10pt; font-family: SolaimanLipi;">e-mail :</span><p style="font-size: 10pt; font-family: Cambria, serif;"> </p><p>online.sdeshkal@gmail.com</p><p style="font-size: 10pt; font-family: SolaimanLipi;"><o:p></o:p></p></p><p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
    normal"><p style="font-size: 10pt; font-family: SolaimanLipi;">Hotline :</p><p style="font-size: 10pt; font-family: Cambria, serif;">&nbsp; </p><p >01319 345 456</p></p>
    normal"><p style="font-size: 10pt; font-family: "><br></p><b><p style="font-size:10.0pt;
    font-family:">Address:</p></b><p style="font-size:10.0pt;font-family:"> House- 10/22, Iqbal Road, Block-A, Mohammadpur,
    Dhaka-1207&nbsp; <br></p></div>
    </div>
    </div>
    </div>
    </div> -->

    <div class=" container">
        <div class="col-sm-12" style="text-align: justify;">
            <h3 class="mt-5">Contact Us</h3>
            <hr>
            <b><span style="font-size: 10pt; font-family: sans-serif;">shampratikdeshkal.com</span></b>
       
            <p><span style="font-size: 10pt; font-family: SolaimanLipi;">e-mail :  online.sdeshkal@gmail.com</span>
               <p><span style="font-size: 10pt; font-family: SolaimanLipi;">Hot-line :  01319 345 456</span> <br>
                  <b>Address:</b> <span>House- 10/22, Iqbal Road, Block-A, Mohammadpur, Dhaka-1207 </span> 
            </p>
           </div>
          


    </div>
    