<body style="background-color: #F1F1F1;overflow-x: hidden;margin-top: -1px">



    <div id="fb-root"></div>
    <script>
            window.fbAsyncInit = function() {
                FB.init({
                    xfbml            : true,
                    version          : 'v8.0'
                });
            };
    
            (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = '../connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
    <div class="hidden-xs" style="height: 140px;background-color: white;padding-left: 4%;padding-right: 4%;">
    <div class="row">
    <div class="col-md-3">
    <div style="margin-top: 40px;text-align: left;">
    <p style="font-size: 16px;line-height: 20px;margin-bottom: 0px;color: #918989">বুধবার, ০৪ আগস্ট ২০২১</p>
    <p style="font-size: 16px;line-height: 20px;margin-bottom: 0px;color: #918989;">২০ শ্রাবণ ১৪২৮ বঙ্গাব্দ </p>
    <p class="topSocialIcon topSocialIconColored" style="margin-top: 10px;margin-bottom: 0px">
    <a href="https://www.facebook.com/ShampratikDeshkal" target="_blank" class="fa fa-facebook"></a>
    <a href="https://twitter.com/sdeshkal" target="_blank" class="fa fa-twitter"></a>
    <a href="https://www.instagram.com/shampratikonline" target="_blank" class="fa fa-instagram"></a>
    <a href="https://www.youtube.com/channel/UCba8mUroByHqF6rv5aRCKkw" target="_blank" class="fa fa-youtube"></a>
    </p>
    </div>
    </div>
    <div class="col-md-6">
    <div style="padding-top: 40px;padding-bottom: 0px;text-align: center">
    
    <a href="index.html"><img src="/assets/uploads/settings/logo1.png" alt="Logo" style="height: 60px;margin-bottom: 10px"></a>
    
    </div>
    </div>
    <div class="col-md-3">
    <table class="table pull-right" style="margin-bottom: 0px;margin-top: 3px;padding: 0px">
    <tr>
    <td class="text-right" style="border-top: none;vertical-align: middle;padding: 8px 0px 0px 8px">
    <p style="font-size: 14px;line-height: 17px;margin-bottom: 0px;color: #918989;">ই পেপার</p>
    </td>
    <td class="text-right" style="margin-left: 0px;border-top: none;width: 80px;padding: 8px 0px 0px 8px"><a href="https://epaper.shampratikdeshkal.com/" target="_blank"><img src="/assets/uploads/externalLinkPhotos/226368441_2535297443283319_2919517445111358856_n-610247494dc3a.jpg" alt="Epaper" style="height: 125px"></a></td>
    <td class="text-right" style="border-top: none;vertical-align: middle;padding: 8px 0px 0px 8px">
    <p style="font-size: 14px;line-height: 17px;margin-bottom: 0px;color: #918989;">দেশকাল পত্রিকা</p>
    </td>
    <td class="text-right" style="margin-left: 0px;border-top: none;width: 80px;padding: 8px 0px 0px 8px"><a href="https://deshkalpotrika.com/" target="_blank"><img src="/assets/uploads/externalLinkPhotos/1-(1)-60e2c942786c6.jpg" alt="Epaper" style="height: 125px"></a></td>
    </tr>
    </table>
    </div>
    </div>
    </div>
    <div class="scrolledTopMenuBar hidden-xs">
    <div class="scrolledTopMenuBarColor bgColorWhite" style="border-top: 1px solid #eaeaea;border-bottom: 1px solid #e1dede;box-shadow: 0 2px 5px 0 rgba(102,102,102,.06);padding-left: 4%;padding-right: 4%">
    <div class="row">
    <div class="col-md-2">
    <div class="scrolledLogo displayNone" style="padding: 8px 0px 5px 0px">
    <a href="index.html"><img src="/assets/uploads/settings/logo2.png" alt="Logo" style="height: 30px;"></a>
    </div>
    </div>
    <div class="col-md-8">
    <div class="text-center headerMenu headerMenuLiBold" style="">
    <ul>
    <li><a style="color: #979c9c;" href="index.html" title="Home"><i class="fa fa-home"></i></a></li>
    <li class=""><a class="cool-link" onMouseOver="this.style.color='#4CAF50'" onMouseOut="this.style.color=''" href="bangladesh.html" title="বাংলাদেশ">বাংলাদেশ</a></li>
    <li class=""><a class="cool-link" onMouseOver="this.style.color='#2222dd'" onMouseOut="this.style.color=''" href="Global.html" title="বিশ্ব">বিশ্ব</a></li>
    <li class=""><a class="cool-link" onMouseOver="this.style.color='#99a8c4'" onMouseOut="this.style.color=''" href="politics.html" title="রাজনীতি">রাজনীতি</a></li>
    <li ><a class="cool-link" onMouseOver="this.style.color='#a79e30'" onMouseOut="this.style.color=''" href="business.html" title="বাণিজ্য">বাণিজ্য</a></li>
    <li class=""><a class="cool-link" onMouseOver="this.style.color='#59aa88'" onMouseOut="this.style.color=''" href="sports.html" title="খেলাধুলা">খেলাধুলা</a></li>
    <li class=""><a class="cool-link" onMouseOver="this.style.color='#f4378c'" onMouseOut="this.style.color=''" href="entertainment.html" title="বিনোদন">বিনোদন</a></li>
    <li class=""><a class="cool-link" onMouseOver="this.style.color='#ff8000'" onMouseOut="this.style.color=''" href="district-news.html" title="জেলার খবর">জেলার খবর</a></li>
    <li class=""><a class="cool-link" onMouseOver="this.style.color='#8080ff'" onMouseOut="this.style.color=''" href="interview.html" title="সাক্ষাৎকার">সাক্ষাৎকার</a></li>
    <li class=""><a class="cool-link" onMouseOver="this.style.color='#ff0000'" onMouseOut="this.style.color=''" href="abroad.html" title="প্রবাস">প্রবাস</a></li>
    <li class="borderR0 allMenu allMenuOpen" style="width: 110px">
    <a style="display: none;" class="closeOpenedMenu" href="javascript::void(0)"><i class="fa fa-times colorBlackHoverBlue" style="float: right;"></i></a>
    <a style="hover:unset" class="enterOpenedMenu" href="javascript::void(0)">অন্যান্য <i class="fa fa-th-large allMenuIcon"></i></a>
    </li>
    </ul>
    </div>
    </div>
    <div class="col-md-2">
    <div class="text-right headerMenu" style="">
    <ul>
    <li class="englishLinkBorder"><a style="padding-top: 15px;padding-left: 20px;padding-right: 20px;font-size: 15px;font-family: Nobel,sans-serif;" href="https://en.shampratikdeshkal.com/" target="_blank" title="ENGLISH">ENGLISH</a></li>
     <li class="englishLinkBorder" style="border-left: none !important;"><a style="padding-top: 15px;padding-left: 20px;padding-right: 20px" href="javascript::void(0)" title="SEARCH" class="scrollSearchOpen"><i class="fa fa-search" style="font-size: 15px"></i></a></li>
    </ul>
    </div>
    </div>
    </div>
    </div>
    
    <div class="openMegaMenu" style="background-color: white;border-bottom: 1px solid #ccc;padding-left: 4%;padding-right: 4%;width: 100%;position: absolute;z-index: 9;display: none;">
    <div class="row">
    <div class="col-md-9">
    <img src="/assets/uploads/images/loader.gif" alt="Loader"></div>
    <div class="allMegaMenu ajaxMenubarCategoriesWidget" style="padding: 25px 20px;border-right: 1px solid #ccc;display: none;">
    <div id="ajaxMenubarCategories" class="row">
    </div>
    </div>
    </div>
    <div class="col-md-3">
    <div class="allMegaMenu" style="padding: 25px 20px;">
    <div class="row">
    <div class="text-left col-md-6 allMegaMenuItem">
    <a class="colorBlackHoverBlueImp" href="https://epaper.shampratikdeshkal.com/" target="_blank"><i class="fa fa-file" style="font-size: 15px; color: #6e3b6f"></i> ইপেপার</a>
    </div>
    <div class="text-left col-md-6 allMegaMenuItem">
    <a class="colorBlackHoverBlueImp" href="photo-gallery.html"><i class="fa fa-photo" style="font-size: 15px; color: #6e3b6f"></i> ছবিঘর</a>
    </div>
    <div class="text-left col-md-6 allMegaMenuItem">
    <a class="colorBlackHoverBlueImp" href="authors.html"><i class="fa fa-users" style="font-size: 15px; color: #6e3b6f"></i> লেখক</a>
    </div>
    <div class="text-left col-md-6 allMegaMenuItem">
    <a class="colorBlackHoverBlueImp" href="video-gallery.html"><i class="fa fa-video-camera" style="font-size: 15px; color: #6e3b6f"></i> ভিডিও</a>
    </div>
    <div class="text-left col-md-6 allMegaMenuItem">
    <a class="colorBlackHoverBlueImp" href="poll.html"><i class="fa fa-pie-chart" style="font-size: 15px; color: #6e3b6f"></i> জরিপ</a>
    </div>
    <div class="text-left col-md-6 allMegaMenuItem">
    <a class="colorBlackHoverBlueImp" href="archive.html"><i class="fa fa-calendar" style="font-size: 15px; color: #6e3b6f"></i> আর্কাইভ</a>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    
    <div class="openScrolledSearch" style="padding-left: 4%;padding-right: 4%;width: 100%;position: absolute;z-index: 9;display: none;">
    <div class="row">
    <div class="col-md-5 col-md-offset-7">
    <div style="padding: 10px;background-color: #E9E1E1">
    <div class="row">
    <form action="https://shampratikdeshkal.com/search" method="get">
    <div class="col-md-8 paddingR0">
    <input type="text" name="q" class="form-control" style="height: 40px;border-radius: 0px;border-color: #e9e1e1" placeholder="খুঁজুন..">
    </div>
    <div class="col-md-2 paddingL0 paddingR0">
    <button style="height: 40px;border-radius: 0px;border-color: #e9e1e1" type="submit" class="btn btn-default btn-block"><i class="fa fa-search"></i></button>
    </div>
    <div class="col-md-2 paddingL0">
    <button type="button" style="height: 40px;border-radius: 0px;border-color: #e9e1e1" class="btn btn-default btn-block closeSearchButton"><i class="fa fa-times"></i></button>
    </div>
    </form>
    </div>
    </div>
    </div>
    </div>
    </div>
    
    
    <div class="wrapper smallDeviceMenu">
    <nav id="sidebar">
    <div id="dismiss" style="padding-top: 0px">
    <i class="glyphicon glyphicon-arrow-left"></i>
    </div>
    <div class="sidebar-header" style="padding-bottom: 10px">
    <h3 style="text-align: -webkit-center;margin-bottom: 0px;margin-top: 25px;"></h3>
    </div>
    <div>
    <div class="menuNew panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <table class="table menuTable">
    <tr>
    <td style="padding: 10px 0px !important;"><a style="font-size: 18px;color: white;padding: 10px 20px !important;" href="https://epaper.shampratikdeshkal.com/" target="_blank" class="parentMenu"> ইপেপার</a></td>
    </tr>
    <tr>
    <td>
    <p style="margin-bottom: 0px">
    <a style="display: inline-block;width: 80%;font-size: 18px;color: white;padding: 0px 10px !important;" href="bangladesh.html" class="parentMenu"> বাংলাদেশ</a>
    </p>
    </td>
    </tr>
    <tr>
    <td>
    <p style="margin-bottom: 0px">
    <a style="display: inline-block;width: 80%;font-size: 18px;color: white;padding: 0px 10px !important;" href="Global.html" class="parentMenu"> বিশ্ব</a>
    </p>
    </td>
    </tr>
    <tr>
    <td>
    <p style="margin-bottom: 0px">
    <a style="display: inline-block;width: 80%;font-size: 18px;color: white;padding: 0px 10px !important;" href="politics.html" class="parentMenu"> রাজনীতি</a>
    </p>
    </td>
    </tr>
    <tr>
    <td>
    <p style="margin-bottom: 0px">
    <a style="display: inline-block;width: 80%;font-size: 18px;color: white;padding: 0px 10px !important;" href="business.html" class="parentMenu"> বাণিজ্য</a>
    </p>
    </td>
    </tr>
    <tr>
    <td>
    <p style="margin-bottom: 0px">
    <a style="display: inline-block;width: 80%;font-size: 18px;color: white;padding: 0px 10px !important;" href="sports.html" class="parentMenu"> খেলাধুলা</a>
    </p>
    </td>
    </tr>
    <tr>
    <td>
    <p style="margin-bottom: 0px">
    <a style="display: inline-block;width: 80%;font-size: 18px;color: white;padding: 0px 10px !important;" href="entertainment.html" class="parentMenu"> বিনোদন</a>
    </p>
    </td>
    </tr>
    <tr>
    <td>
    <p style="margin-bottom: 0px">
    <a style="display: inline-block;width: 80%;font-size: 18px;color: white;padding: 0px 10px !important;" href="district-news.html" class="parentMenu"> জেলার খবর</a>
    </p>
    </td>
    </tr>
    <tr>
    <td>
    <p style="margin-bottom: 0px">
    <a style="display: inline-block;width: 80%;font-size: 18px;color: white;padding: 0px 10px !important;" href="interview.html" class="parentMenu"> সাক্ষাৎকার</a>
    </p>
    </td>
    </tr>
    <tr>
    <td>
    <p style="margin-bottom: 0px">
    <a style="display: inline-block;width: 80%;font-size: 18px;color: white;padding: 0px 10px !important;" href="abroad.html" class="parentMenu"> প্রবাস</a>
    </p>
    </td>
    </tr>
    <tr>
    <td>
    <p style="margin-bottom: 0px">
    <a style="display: inline-block;width: 80%;font-size: 18px;color: white;padding: 0px 10px !important;" href="javascript::void(0)" class="parentMenu">অন্যান্য</a>
    <span style="font-size: 15px;color: white" class="glyphicon glyphicon-triangle-bottom" role="tab" id="headingAllCategory" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseAllCategory" aria-expanded="true" aria-controls="collapseAllCategory"></span>
    </p>
    <div id="collapseAllCategory" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingAllCategory">
    <ul id="ajaxMenubarCategoriesSmall" class="list-group">
    </ul>
    </div>
    </td>
    </tr>
    <tr>
    <td style="padding: 10px 0px !important;"><a style="font-size: 18px;color: white;padding: 10px 20px !important;" href="photo-gallery.html" class="parentMenu"> ফটো গ্যালারি</a></td>
    </tr>
    <tr>
    <td style="padding: 10px 0px !important;"><a style="font-size: 18px;color: white;padding: 10px 20px !important;" href="video-gallery.html" class="parentMenu"> ভিডিও</a></td>
    </tr>
    <tr>
    <td style="padding: 10px 0px !important;"><a style="font-size: 18px;color: white;padding: 10px 20px !important;" href="archive.html" class="parentMenu"> আর্কাইভ</a></td>
    </tr>
    <tr>
    <td style="padding: 10px 0px !important;"><a style="font-size: 18px;color: white;padding: 10px 20px !important;" href="poll.html" class="parentMenu"> জরিপ</a></td>
    </tr>
    </table>
    </div>
    </div>
    </nav>
    <div class="overlay"></div>
    <div id="content">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div style="width: 100%;background-color: white;position: fixed;top: -1px;z-index: 997;box-shadow: 0px 0px 10px rgba(0,0,0,0.2);border-bottom: 1px solid #cac3c3">
    <table class="table" style="margin-bottom: 0px">
    <tr>
    <td style="width: 10%;padding-top: 20px">
    <span id="sidebarCollapse" class="glyphicon glyphicon-align-justify" style="font-size:20px;cursor:pointer;margin-left: 10px;border-radius: 0px;color: #9c8a8a !important" onclick="openNav()"></span>
    </td>
    <td style="padding-top: 14px">
    <a class="clickMenu" href="index.html"><img src="/assets/uploads/settings/logo1.png" class="img-responsive" style="height: 28px;"></a>
    </td>
    <td style="width: 10%;padding-top: 20px">
    <a class="customMenuHover" href="https://en.shampratikdeshkal.com/" target="_blank" style="color: #9c8a8a !important"><span class="en-edition"> EN </span></a>
    </td>
    </tr>
    <tr>
    <td colspan="3" style="font-size: 15px;line-height: 18px;color: #a29e9e;text-align: center;padding: 2px;">
    বুধবার, ০৪ আগস্ট ২০২১ | <a href="https://epaper.shampratikdeshkal.com/" style="font-size: 15px;line-height: 18px;color: #a29e9e">ইপেপার</a> | <a href="search03d2.html?q="><i class="fa fa-search" style="font-size: 13px;color: #a29e9e"></i></a>
    </td>
    </tr>
    </table>
    </div>
    </nav>
    </div>
    </div>
    
    <!-- <div class="marginT15"></div> -->
    <div class="xs-marginT50"></div>
    <div style="background-color: #F1F1F1" id="openScrolledTopBar">
    <div class="container">
    <div class="marginT10 xs-marginT0"></div>
    
    <div class="row hidden-print">
    <div class="col-md-12">
    <div class="hidden-xs" style="text-align: -webkit-center;margin-bottom: 10px;overflow: hidden;">

    
    
    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
    </div>
    <div class="visible-xs" style="text-align: -webkit-center;margin-bottom: 10px;overflow: hidden;">
    
    
    <ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7039586041037681" data-ad-slot="4526065611"></ins>
    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
    </div>
    </div>
    </div>
    <div class="row">

    
    <div class="col-md-12 visible-print" style="display: none;">
    <div style="padding: 15px"><img src="/assets/uploads/settings/logo1.png" style="height: 50px;margin-bottom: 30px">
    <p style="margin-bottom: 0px">নিজস্ব প্রতিবেদক</p> <p style="margin-bottom: 0px">  </p>
    </div>
    </div>
    <div class=" col-md-8">
    
    <ol class="breadcrumb hidden-print" style="margin-bottom: 0px;border-radius: 0px;background-color: #efecec">
    <li><a href="index.html" style="font-size: 15px"><i class="fa fa-home"></i></a></li>
    <li><a href="business.html" style="font-size: 15px"></a></li>
    <li class="active" style="font-size: 15px">{{setDetails().ContentHeading}}</li>
    </ol>
    
    <div style="background-color: #EFECEC;padding: 15px">
        
        <em>{{setDetails().DateTimeInserted}}</em>
    
    <div class="marginB30 xs-marginB15">
    <h1 class="detailHeadline" style="margin: 0px; #000000; ">{{setDetails().ContentHeading}}</h1>
    </div>
    
    
    <div class="newsPhoto">
    <div id="lightgallery">
    <div style="position: relative;cursor: pointer;" data-src="https://shampratikdeshkal.com/uploads/2019/08/online/photos/gold-5d61381d0ebf1.jpg" data-sub-html="ফাইল ছবি">
    <img src="https://provaati.com/media/imgAll/{{setDetails().ImageBGPath}}" title="ফাইল ছবি" alt="ফাইল ছবি" class="img-responsive" style="width: 100%">
    
    <p style="margin: 0px;padding: 5px;background-color: #f1f1f1;border-bottom: 2px solid #dbd6dd;font-size: 16px;font-style: italic;">ফাইল ছবি</p>
    </div>
    </div>
    </div>
    
    <div class="row">
    
    <div class="col-md-12 hidden-print hidden-xs">
    <div style="text-align: -webkit-center;margin-bottom: 10px;margin-top: -5px;overflow: hidden;">
    <script async src="../pagead2.googlesyndication.com/pagead/js/f.txt"></script>
    
    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-7039586041037681" data-ad-slot="8197166321" data-ad-format="auto" data-full-width-responsive="true"></ins>
    <script>
                                        (adsbygoogle = window.adsbygoogle || []).push({});
                                    </script>
    </div>
    </div>
    <div class="col-md-3 hidden-print">
    <div class="hidden-xs" style="background-color: #F1F1F1;padding: 0px 5px">
    <p style="line-height: 23px;color: #200521;margin: 0px;padding: 20px 0px 20px 0px;text-align: center;border-bottom: 3px double rgba(138,138,138,.3);">
    <!-- <a href="business.html" class="colorBlueHoverBlack">বাণিজ্য</a> -->
    </p>
    <p style="line-height: 23px;color: #200521;margin: 0px;padding: 20px 0px 20px 0px;text-align: center;border-bottom: 3px double rgba(138,138,138,.3);">নিজস্ব প্রতিবেদক</p>
    <p style="font-size: 16px;line-height: 19px;color: #200521;margin: 0px;padding: 20px 0px 20px 0px;text-align: center;border-bottom: 2px solid rgba(138,138,138,.3);">
    <!-- প্রকাশ: ২৪ আগস্ট ২০১৯, ০৭:১৪ পিএম <br><br><span>আপডেট: ২৪ আগস্ট ২০১৯, ০৯:১২ পিএম </span> </p> -->
    
    <p class="topSocialIcon" style="line-height: 23px;color: #200521;margin: 0px;padding: 15px 0px 5px 0px;text-align: center;"><a href="javascript::void(0)" onclick="window.open('https://www.facebook.com/sharer.php?u=https://shampratikdeshkal.com/business/news/190816/%e0%a6%86%e0%a6%ac%e0%a6%be%e0%a6%b0-%e0%a6%ac%e0%a6%be%e0%a7%9c%e0%a6%b2-%e0%a6%b8%e0%a7%8b%e0%a6%a8%e0%a6%be%e0%a6%b0-%e0%a6%a6%e0%a6%be%e0%a6%ae','mywindow','menubar=1,resizable=1,width=350,height=250');" class="fa fa-facebook facebookColor" style="background-color: white"></a></p>
    <p class="topSocialIcon" style="line-height: 23px;color: #200521;margin: 0px;padding: 5px 0px 5px 0px;text-align: center;"><a href="javascript::void(0)" onclick="window.open ('https://twitter.com/intent/tweet?text=%e0%a6%86%e0%a6%ac%e0%a6%be%e0%a6%b0%20%e0%a6%ac%e0%a6%be%e0%a7%9c%e0%a6%b2%20%e0%a6%b8%e0%a7%8b%e0%a6%a8%e0%a6%be%e0%a6%b0%20%e0%a6%a6%e0%a6%be%e0%a6%ae&amp;url=https://shampratikdeshkal.com/business/news/190816/%e0%a6%86%e0%a6%ac%e0%a6%be%e0%a6%b0-%e0%a6%ac%e0%a6%be%e0%a7%9c%e0%a6%b2-%e0%a6%b8%e0%a7%8b%e0%a6%a8%e0%a6%be%e0%a6%b0-%e0%a6%a6%e0%a6%be%e0%a6%ae','mywindow','menubar=1,resizable=1,width=360,height=250');" class="fa fa-twitter twitterColor" style="background-color: white"></a></p>
    
    <p class="topSocialIcon" style="line-height: 23px;color: #200521;margin: 0px;padding: 5px 0px 5px 0px;text-align: center;"><a href="print/190816.html" class="fa fa-print printColor" style="background-color: white"></a></p>
    </div>
    
    <div class="xs-visible" style="background-color: #F1F1F1;padding: 5px 5px;border-top: 1px solid #b3aeb5;margin-bottom: 20px;border-bottom: 1px solid #b3aeb5;display: none;">
    <p style="font-size: 16px;line-height: 19px;color: #200521;margin: 0px;padding: 2px 5px 2px 5px;text-align: left;">
    <!-- প্রকাশ: ২৪ আগস্ট ২০১৯, ০৭:১৪ পিএম </p> -->
    <p style="font-size: 17px;line-height: 20px;color: #200521;margin: 0px;padding: 2px 5px 2px 5px;text-align: left;">
    <!-- <a href="business.html" class="colorBlueHoverBlack">বাণিজ্য</a> -->
    </p>
    <p style="font-size: 17px;line-height: 20px;color: #200521;margin: 0px;padding: 2px 5px 2px 5px;text-align: left;">নিজস্ব প্রতিবেদক</p>
    <p style="font-size: 16px;line-height: 19px;color: #200521;margin: 0px;padding: 2px 5px 2px 5px;text-align: left;">
    <!-- <span>আপডেট: ২৪ আগস্ট ২০১৯, ০৯:১২ পিএম </span> </p> -->
    
    <span class="topSocialIcon" style="line-height: 23px;color: #200521;margin: 0px;padding: 15px 0px 5px 0px;text-align: center;"><a href="javascript::void(0)" onclick="window.open('https://www.facebook.com/sharer.php?u=https://shampratikdeshkal.com/business/news/190816/%e0%a6%86%e0%a6%ac%e0%a6%be%e0%a6%b0-%e0%a6%ac%e0%a6%be%e0%a7%9c%e0%a6%b2-%e0%a6%b8%e0%a7%8b%e0%a6%a8%e0%a6%be%e0%a6%b0-%e0%a6%a6%e0%a6%be%e0%a6%ae','mywindow','menubar=1,resizable=1,width=350,height=250');" class="fa fa-facebook facebookColor" style="background-color: white"></a></span>
    <span class="topSocialIcon" style="line-height: 23px;color: #200521;margin: 0px;padding: 5px 0px 5px 0px;text-align: center;"><a href="javascript::void(0)" onclick="window.open ('https://twitter.com/intent/tweet?text=%e0%a6%86%e0%a6%ac%e0%a6%be%e0%a6%b0%20%e0%a6%ac%e0%a6%be%e0%a7%9c%e0%a6%b2%20%e0%a6%b8%e0%a7%8b%e0%a6%a8%e0%a6%be%e0%a6%b0%20%e0%a6%a6%e0%a6%be%e0%a6%ae&amp;url=https://shampratikdeshkal.com/business/news/190816/%e0%a6%86%e0%a6%ac%e0%a6%be%e0%a6%b0-%e0%a6%ac%e0%a6%be%e0%a7%9c%e0%a6%b2-%e0%a6%b8%e0%a7%8b%e0%a6%a8%e0%a6%be%e0%a6%b0-%e0%a6%a6%e0%a6%be%e0%a6%ae','mywindow','menubar=1,resizable=1,width=360,height=250');" class="fa fa-twitter twitterColor" style="background-color: white"></a></span>
    
    <span class="topSocialIcon" style="line-height: 23px;color: #200521;margin: 0px;padding: 5px 0px 5px 0px;text-align: center;"><a href="print/190816.html" class="fa fa-print printColor" style="background-color: white"></a></span>
    </div>
    </div>
    <div class="visible-xs hidden-print" style="text-align: center;text-align: -webkit-center;overflow: hidden;margin-bottom: 10px">
    <script async src="../pagead2.googlesyndication.com/pagead/js/f.txt"></script>
    
    <ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7039586041037681" data-ad-slot="8922245276"></ins>
    <script>
                                    (adsbygoogle = window.adsbygoogle || []).push({});
                                </script>
    </div>
    <h1></h1>
    <p></p>
    
    <div class=" col-md-9">
    
    <div class="newsBody" style="overflow: hidden;">
    <p [innerHTML]="setDetails().ContentDetails"></p><div><br></div> </div>
    
    
    
    
    
    
    
    <!-- <div class="marginT20">
    <p>বিষয় :
    <a href="topic/%e0%a6%b8%e0%a7%8b%e0%a6%a8%e0%a6%be.html" style="padding: 3px 10px;text-decoration: none;border-radius: 3px;background-color: white;font-size: 16px;margin-bottom: 5px;display: inline-block;">সোনা</a>
    <a href="topic/%e0%a6%b0%e0%a7%81%e0%a6%aa%e0%a6%be.html" style="padding: 3px 10px;text-decoration: none;border-radius: 3px;background-color: white;font-size: 16px;margin-bottom: 5px;display: inline-block;">রুপা</a>
    <a href="topic/%e0%a6%ac%e0%a6%be%e0%a6%82%e0%a6%b2%e0%a6%be%e0%a6%a6%e0%a7%87%e0%a6%b6%2b%e0%a6%9c%e0%a7%81%e0%a7%9f%e0%a7%87%e0%a6%b2%e0%a6%be%e0%a6%b0%e0%a7%8d%e0%a6%b8%2b%e0%a6%b8%e0%a6%ae%e0%a6%bf%e0%a6%a4%e0%a6%bf%2b(%e0%a6%ac%e0%a6%be%e0%a6%9c%e0%a7%81%e0%a6%b8).html" style="padding: 3px 10px;text-decoration: none;border-radius: 3px;background-color: white;font-size: 16px;margin-bottom: 5px;display: inline-block;">বাংলাদেশ জুয়েলার্স সমিতি (বাজুস)</a>
    </p>
    </div> -->
    <div class="hidden-print" style="text-align: -webkit-center;margin-bottom: 0px;margin-top: 0px;overflow: hidden;">
    <script async src="../pagead2.googlesyndication.com/pagead/js/f.txt"></script>
    
    <ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7039586041037681" data-ad-slot="7754668412"></ins>
    <script>
                                        (adsbygoogle = window.adsbygoogle || []).push({});
                                    </script>
    </div>
    </div>
    </div>
    </div>
    </div>
    
    </div>
    </div>
    <div>
    
    <div class="hidden-print" style="background-color: white;padding: 15px;border-bottom: 1px solid #ccc;border-top: 1px solid #ccc;margin-top: 20px">
    <div class="container">
    <div class="col-md-10 col-md-offset-1">
    <p class="commentsButton"><i class="fa fa-plus commentsDivOpen"></i> <i class="fa fa-times commentsDivClose" style="display: none;padding: 6px 8px 6px 8px;"></i> মন্তব্য করুন</p>
    <div class="commentsDiv" style="display: none;">
    <div class="fb-comments" data-href="https://shampratikdeshkal.com/business/news/190816/%e0%a6%86%e0%a6%ac%e0%a6%be%e0%a6%b0-%e0%a6%ac%e0%a6%be%e0%a7%9c%e0%a6%b2-%e0%a6%b8%e0%a7%8b%e0%a6%a8%e0%a6%be%e0%a6%b0-%e0%a6%a6%e0%a6%be%e0%a6%ae" data-numposts="2" width="100%"></div>
    </div>
    </div>
    </div>
    </div>
    
    <div class="container hidden-print marginT15">
    <div class="col-md-10 col-md-offset-1 col-xs-12 xs-paddingL0 xs-paddingR0">
    <div class="text-center row">
    <div class="col-md-12">
    
    <script async src="../pagead2.googlesyndication.com/pagead/js/f.txt"></script>
    
    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-7039586041037681" data-ad-slot="9279698846" data-ad-format="auto" data-full-width-responsive="true"></ins>
    <script>
                                (adsbygoogle = window.adsbygoogle || []).push({});
                            </script>
   
    </div>
    </div>
    </div>
    </div>
    
    <div class="container ajaxRelatedNewsWidget hidden-print">
    <div class="col-md-10 col-md-offset-1 col-xs-12 xs-paddingL0 xs-paddingR0">
    <div class="relatedNews">
    <div style="border-bottom: 1px solid #ccc;padding: 10px 15px">
    <p style="margin-bottom: 0px;text-align: left;"><a href="javascript::void(0)" class="categoryTitleNew" style="color: #7F7F7F;">সংশ্লিষ্ট</a></p>
    </div>
    <div id="ajaxRelatedNews" class="row relatedNewsItemDiv" style="padding: 15px">
    </div>
    </div>
    </div>
    </div>
    
    </div>
    <!-- <input type="hidden" class="ajaxTags" value="সোনা,রুপা,বাংলাদেশ জুয়েলার্স সমিতি (বাজুস)">
    <div class="readMoreNews" style="display: none;">
    <div style="background-color: #f7f7f7;width: 100%;padding: 10px;border-left: 4px solid #8f79b1;margin: 15px 0px">
    <p style="margin-bottom: 10px !important;font-size: 14px"><span style="padding: 2px 0px;border-bottom: 1px solid #dc0808;">আরও পড়ুন</span></p>
    <div id="appendReadMoreNews"></div>
    </div>
    </div> -->
    
    
    
    </div>
    <div class="marginT30"></div>
    
    <div class="visible-xs" style="background-color: white;padding: 10px;border-top: 1px solid #B6B4B6">
    <div class="container" style="padding-top: 0px;padding-bottom: 0px;text-align: center;background-color: white;padding-left: 0px;padding-right: 0px;position: relative;">
    <p style="margin-top: 0px;margin-bottom: 0px; text-align: -webkit-center;"><a style="color: white;font-size: 20px" href="https://epaper.shampratikdeshkal.com/" target="_blank"><img src="/assets/uploads/externalLinkPhotos/226368441_2535297443283319_2919517445111358856_n-610247494dc3a.jpg" alt="Epaper" class="img-responsive" style="width: 100% !important">
    <p style="position: absolute;bottom: 0;background-color: rgba(0,0,0,.6);color: white !important;padding: 10px;margin-bottom: 60%;">সাপ্তাহিক সাম্প্রতিক দেশকাল ই-পেপার পড়তে ক্লিক করুন</p>
    </a>
    </p>
    </div>
    </div>
    <div style="background-color: #fff;padding: 5px;border-top: 1px solid #B6B4B6">
    <div class="container" style="padding-top: 10px;padding-bottom: 5px;text-align: center;">
    <p style="font-size: 15px;margin-bottom: 0px;text-align: center;" class="hidden-print">
    <a href="index.html"><img src="/assets/uploads/settings/logo1.png" alt="Logo" style="width: 250px"></a>
    </p>
    
    <p class="visible-print" style="display: none;"><img src="/assets/uploads/settings/logo1.png" alt="Logo" style="width: 250px"></p>
    <p class="footerSocialIcon hidden-print" style="margin-top: 10px;margin-bottom: 0px">
    <a href="https://www.facebook.com/ShampratikDeshkal" target="_blank" class="fa fa-facebook"></a>
    <a href="https://twitter.com/sdeshkal" target="_blank" class="fa fa-twitter"></a>
    <a href="https://www.instagram.com/shampratikonline" target="_blank" class="fa fa-instagram"></a>
    <a href="https://www.youtube.com/channel/UCba8mUroByHqF6rv5aRCKkw" target="_blank" class="fa fa-youtube"></a>
    
    </p>
    <p class="footerLinks hidden-print" style="font-family: Nobel,sans-serif;font-size: 12px; margin-top: 5px"><a href="about.html" target="_blank">ABOUT</a> &nbsp;&nbsp;<a href="contact.html" target="_blank">CONTACT</a> &nbsp;&nbsp;<a href="archive.html" target="_blank">ARCHIVE</a> &nbsp;&nbsp;<a href="terms.html" target="_blank">TERMS</a> &nbsp;&nbsp;<a href="privacy-policy.html" target="_blank">POLICY</a> &nbsp;&nbsp;<a href="pricing.html" target="_blank">ADVERTISEMENT</a></p>
    <p class="footerPrintersLine hidden-xs" style="margin-bottom: 0px;margin-top: 5px;font-size: 16px">সম্পাদক: ইলিয়াস উদ্দিন পলাশ | প্রকাশক: নাহিদা আকতার জাহেদী</p>
    <p class="footerPrintersLine xs-visible" style="margin-bottom: 0px;margin-top: 5px;font-size: 16px;display: none;">সম্পাদক: ইলিয়াস উদ্দিন পলাশ</p>
    <p class="footerPrintersLine xs-visible" style="margin-bottom: 0px;margin-top: 0px;font-size: 16px;display: none;">প্রকাশক: নাহিদা আকতার জাহেদী</p>
    <p class="footerPrintersLine fontSize15" style="margin-bottom: 0px;margin-top: 0px;font-size: 14px">ঠিকানা: ১০/২২ ইকবাল রোড, ব্লক এ, মোহাম্মদপুর, ঢাকা-১২০৭</p>
    </div>
    </div>
    <div style="background-color: white;padding: 5px;border-top: 1px solid #dce1e1;margin-bottom: 90px">
    <div class="container" style="padding-top: 0px;padding-bottom: 0px;text-align: center;">
    <p style="margin-bottom: 0px;color: #868080;font-size: 12px;font-family: Nobel,sans-serif;">© 2021 Shampratik Deshkal All Rights Reserved. Design & Developed By <a href="https://rootsoftbd.com/" target="_blank"> Root Soft Bangladesh</a></p>
    </div>
    </div>
    
    
    
    <input type="hidden" class="site_url" value="index.html">
    
    <span title="Top" class="scrollToTop" style="display: none;right:40px;bottom:100px"><i class="fa fa-angle-up"></i></span>
